
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h1 class="text-danger">@ViewBag.Message</h1>
<h1 class="text-danger">@ViewBag.Value</h1>
<h1 class="text-danger">@ViewBag.Test</h1>


