@model IEnumerable<DomainModels.Brand>
@{
    ViewBag.Title = "Brands";
}

<h2>Brands</h2>
<button class="btn btn-primary mr-1" type="button" id="create-brand-trigger" data-target="#createBrand" aria-expanded="false" aria-controls="createBrand">New Brand</button>

<table class="table">
    <thead>
        <tr>
            <th>Brand Id</th>
            <th>Brand Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

<!-- Start Details -->
<div class="modal fade" id="detailsBrand" tabindex="-1" aria-labelledby="DetailsBrandLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetailsBrandLabel">View Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Brand Id</th>
                            <td><span id="spanBrandId"></span></td>
                        </tr>
                        <tr>
                        <tr>
                            <th>Brand Name</th>
                            <td><span id="spanBrandName"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End Details -->
<!-- Start Create Brand -->
<div class="collapse" id="createBrand">
    <div class="card">
        <div class="card-header">Create Brand</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="createBrandName">brand Name</label>
                    <input type="text" class="form-control" id="createBrandName" placeholder="Brand Name">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-danger js-cancel-create">Cancel</button>
            <button type="button" class="btn btn-primary" id="create-button">Create</button>
        </div>
    </div>
</div>
<!-- End Create Brand -->


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "/api/Brands",
                success: function (response) {
                    var tbodyString = "";
                    $.each(response, function (index, value) {
                        tbodyString += "<tr>" +
                            "<td>" + value.BrandID + "</td>" +
                            "<td>" + value.BrandName + "</td>" +
                            "<td>" +
                            "<button type='button' class='btn btn-success mr-1' data-toggle='modal' data-target='#detailsBrand' data-brandId='" + value.BrandID + "'>Details</button>" +
                            "<button class='btn btn-primary' type='button' id='edit-brand-trigger' data-target='#editBrand' aria-expanded='false' aria-controls='editBrand'>Edit</button>" +
                            "</td>" +
                            "</tr>";
                    });

                    $("#tableBody").append(tbodyString);
                },
                error: function (error) {
                    alert(error);
                }
            });
        })


        $('#detailsBrand').on('show.bs.modal', function (event) {
            var brandId = $(event.relatedTarget).data('brandid');
            $.ajax({
                url: "/api/Brands/" + brandId,
                method: "GET",
                success: function (response) {
                    $("#spanBrandId").html(response.BrandID);
                    $("#spanBrandName").html(response.BrandName);
                },
                error: function (error) {
                    alert(error);
                }
            });
        });


        $("#create-brand-trigger").click(function () {
            $('#createBrand').collapse('show');
        });
        $(".js-cancel-create").click(function () {
            $('#createBrand').collapse('hide');
            $("#createBrandName").val('');
        });
        $(document).on("click", "#create-button", function () {
            var brandName = $("#createBrandName").val();
            $.ajax({
                method: "POST",
                url: "/api/Brands",
                data: { "BrandName": brandName },
                success: function (response) {
                    var tbodyString = "<tr>" +
                        "<td>" + response.BrandID + "</td>" +
                        "<td>" + response.BrandName + "</td>" +
                        "<td>" +
                        "<button type='button' class='btn btn-success mr-1' data-toggle='modal' data-target='#detailsBrand' data-brandId='" + response.BrandID + "'>Details</button>" +
                        "<button class='btn btn-primary' type='button' id='edit-brand-trigger' data-target='#editBrand' aria-expanded='false' aria-controls='editBrand'>Edit</button>" +
                        "</td>" +
                        "</tr>";

                    $("#tableBody").append(tbodyString);
                    $('#createBrand').collapse('hide');
                },
                error: function (error) {
                    alert(error);
                }
            });
        })
    </script>
}

