@model IEnumerable<DomainModels.Brand>
@{
    ViewBag.Title = "Brands";
}

<h2>Brands</h2>
<table class="table">
    <thead>
        <tr>
            <th>Brand Id</th>
            <th>Brand Name</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "/api/Brands",
                method: "GET",
                success: function (response) {
                    var tbodyString = "";
                    $.each(response, function (index, value) {
                        tbodyString += "<tr><td>" + value.BrandID + "</td><td>" + value.BrandName + "</td></tr>";
                    });
              
                    $("#tableBody").append(tbodyString);
                },
                error: function (error) {
                    alert(error);
                }
            });
        })
    </script>
}

