
@{
    ViewBag.Title = "Products";
}

<h2>List Of Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ViewBag.products)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Rate</td>
                <td>
                    <a href="/products/details/@product.ProductId" class="btn btn-success"><span><i class="fa-solid fa-eye fa-sm mr-1"></i></span><span>View</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

