@model ModelExample.Models.Product
@{
    ViewBag.Title = "Show";
}
<h2>Show</h2>
<h4>Number Of Page = @ViewBag.numberPage</h4>
<table class="table">
    <tbody>
        <tr>
            <th>#</th>
            <td>@Model.ProductId</td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>@Model.ProductName</td>
        </tr>
        <tr>
            <th>Rate</th>
            <td>@Model.Rate</td>
        </tr>
    </tbody>
</table>


    