<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary" id="nav-bar">
        <a class="navbar-brand" href="#">Company</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/profile">Profile</a>
                </li>
            </ul>
            <div class="d-none d-md-flex align-items-center">
                <p class="text-white mb-0"><span class="mr-1">@ViewBag.Message1</span><span>@ViewBag.Message2</span></p>
            </div>
        </div>
    </nav>
    <section class="container-fluid" id="content-page">
        <div class="row">
            <!-- Start Sidebar  -->
            <aside class="col-2 bg-primary sidebar">
                <ul class="list-unstyled">
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white d-block py-2 text-decoration-none position-relative">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Home 1</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Home 2</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="text-white d-block py-2 text-decoration-none">About</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white d-block py-2 text-decoration-none position-relative">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Page 1</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Page 2</a>
                            </li>
                            <li>
                                <a href="#" class="text-white d-block py-2 text-decoration-none">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="text-white d-block py-2 text-decoration-none">Portfolio</a>
                    </li>
                    <li>
                        <a href="#" class="text-white d-block py-2 text-decoration-none">Contact</a>
                    </li>
                </ul>
            </aside>
            <!-- End Sidebar  -->
            <div class="col-10">
                @RenderBody()
            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
