@model MyFirstApplication.ViewModels.StudentViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentDetails</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Company</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <table class="table">
            <tbody>
                <tr>
                    <th>#</th>
                    <td>@Model.StudentId</td>
                </tr>
                <tr>
                    <th>Student Name</th>
                    <td>@Model.StudentName</td>
                </tr>
                <tr>
                    <th>Mark</th>
                    <td>@Model.Mark</td>
                </tr>
                <tr>
                    @*
                    @{
                        string studentResult;
                        if (Model.Mark >= 40)
                        {
                            studentResult = "Pass";
                        }
                        else
                        {
                            studentResult = "Fail";
                        }
                    }
                    <th>Result</th>
                    <td>@studentResult</td>
                    *@

                    <th>Result</th>
                    @{
                        if (Model.Mark >= 40)
                        {
                            <td>Pass</td>
                        }
                        else
                        {
                            <td>Fail</td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

