img {
    width: 75px;
    height: 75px;
    border: 1px solid #007bff;
}
.field-validation-error,
.validation-summary-errors {
    color: red;
}
.input-validation-error{
    border :2px solid red !important;
}
.register-address{
    resize : none;
}