@model IEnumerable<EFCodeFirstApproachExample.Models.Category>
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => category.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(model => category.CategoryName)
                </td>
            </tr>
        }
    </tbody>
</table>

