@model List<EFCodeFirstApproachExample.Models.Category>
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryID</td>
                <td>@category.CategoryName</td>
            </tr>
        }
    </tbody>
</table>

