@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<h1 style="color:red;">Error occured</h1>
<h4>Controller Name : @Model.ControllerName</h4>
<h4>Action Name : @Model.ActionName</h4>
<h4>Exception Message : @Model.Exception.Message</h4>
<h4>Exception Type : @Model.Exception.GetType().ToString()</h4>
