@model IEnumerable<EFCodeFirstApproachExample.Models.Brand>
@{
    ViewBag.Title = "Brands";
}

<h2>Brands</h2>
<table class="table">
    <tr>
        <th>Brand Id</th>
        <th>Brand Name</th>
    </tr>
    @foreach (var brand in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => brand.BrandID)
            </td>
            <td>
                @Html.DisplayFor(model => brand.BrandName)
            </td>
        </tr>
    }
</table>

