
@{
    ViewBag.Title = "About";
}

@section Submenu{
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">About 1</a>
    </li>
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">About 2</a>
    </li>
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">About 3</a>
    </li>
}

@{ 
    ViewBag.ListTitle = "About : ";
    ViewBag.Items = new List<string>() { "About Company", "About Founders", "About Team" };
    Html.RenderPartial("_ListPartialView");
}


