
@{
    ViewBag.Title = "Contact";
}

@section Submenu{
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">Contact 1</a>
    </li>
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">Contact 2</a>
    </li>
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">Contact 3</a>
    </li>
}

@{ 
    ViewBag.ListTitle = "Contact : ";
    ViewBag.Items = new List<string>() { "Contact Marketing Team", "Contact Installation Technician", "Contact Support Team" };
    Html.RenderPartial("_ListPartialView");
}