
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contact Page</h2>
@{
    ViewBag.Message2 = "[Contact Page]";
}

@section Submenu{
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">Contact 1</a>
    </li>
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">Contact 2</a>
    </li>
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">Contact 3</a>
    </li>
}
