@{
    ViewBag.Title = "Home";
}

@section Submenu{
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">Home 1</a>
    </li>
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">Home 2</a>
    </li>
    <li>
        <a href="#" class="text-white d-block py-2 text-decoration-none">Home 3</a>
    </li>
}
@{ 
    Html.RenderAction("DemoPartialView", "Home");
}

